.header{
    margin: 40px 20px 0 20px;
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
}
body {
    background-color: #f2f2f2;
    /* background-image: url('https://pro2-bar-s3-cdn-cf.myportfolio.com/67cf45ca-338d-4fd0-943b-32d96162976a/b7b52d14-b827-4c3a-906f-3b94fa13f35f_rw_1920.png'); */
}

h1 {
    color: #46484c;
    text-align: center;
}
h2{
    color: #46484c;
}
p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}
  
b{
    color: #8b8b8bcc;
}
button {
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #025157;
}
li{
    display: inline;
}
/*Aplica a Todos los hijos que tenga header los estilos*/
.header > *{ 
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logo{
    width: 15%;
}
.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
}
.menu-item li{
    margin-right: 25px;
    margin-left: 25px;
}
.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
}
.actions a{
    color: #67b54b;
    text-decoration: none;
}
.actions button{
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}