body{
    background-color: #fffbf7;  
}

h1 {
    color: #025157;
}
h2{
    color: #46484c;
}
b{
    color: #8b8b8bcc;
}
button {
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #025157;
}